body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urna {
    background-color: #dbd5c9;
    margin-top: 20px;
    padding: 30px;
    display: flex;
}

.tela{
    width: 500px;
    height: 320px;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1) ;
    border: 2px solid #555;
}

.teclado {
    background-color: #403A3A;
    margin-left: 30px;
}

.teclado--linha {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.teclado--botao{
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #FFF;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555 ;
}

.botao--branco {
    background-color: #FFF;
    color: #000;
    font-size: 15px;
}

.botao--corrige {
    background-color: #F09046;
    color: #000;
    font-size: 15px;
}

.botao--confirma {
    background-color: #48C079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

